.nm{color: aliceblue; font-size: 25px;}
body{background-image: url(./depositphotos_535781560-stock-photo-detail-black-eyeglasses-white-background.jpg);}
.mm{background-color:rgb(12, 14, 13);height: 2cm;font-size:55px;color: rgb(255, 255, 255));outline-style: groove;outline-color: rgb(250, 15, 219);
font-family: 'Times New Roman', Times, serif;}
.btn{border-style: groove;background-color: rgba(0, 0, 0, 0.753);color: white;;font-family: 'Times New Roman', Times, serif;font-size: 17px;}
.product{border-color: black;background-color: aliceblue;}
